---
# tasks file for setup-fedora 

- name: Upgrade system packages
  dnf:
    name: "*"
    state: latest

- name: Enable rpm fusion free & non free repos
  dnf:
    name: "{{ rpmfusion_free }}, {{ rpmfusion_non_free }}"
    state: present

- name: Add third party repos
  yum_repository:             
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    baseurl: "{{ item.baseurl }}"
    enabled: "{{ item.enabled }}"
    gpgcheck: "{{ item.gpgcheck }}"
    repo_gpgcheck: "{{ item.repo_gpgcheck }}"
    gpgkey: "{{ item.gpgkey }}"
  with_items: "{{ third_party_repos }}"

- name: Install groups
  dnf:
    name: "{{ grouplist }}"
    state: present

- name: Install a list of packages
  dnf:
    name: "{{ packages }}"
    state: present

- name: Install nvidia packages from rpmfusion
  include_tasks: nvidia.yml
  when: 'nvidia == "true"'

- name: Add Flathub remote to install flatpaks
  command: flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

- name: Add the flathub flatpak repository remote to the user installation
  flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user

# Make sure to configure Flathub in the respective distro folder
- name: Install flatpak applications
  community.general.flatpak:
    name: "{{ item }}"
    remote: flathub
    state: present
  with_items: "{{ flatpak }}"
